.page-container {
  margin-top: 80px;
}

.footer {
  padding: 20px 0; /* Añadir espacio superior e inferior al footer */
  text-align: center;
  bottom: 0;
  left: 0; /* Fijar el borde izquierdo */
  right: 0; /* Fijar el borde derecho */
  width: 100%;
  z-index: 100; /* Asegurar que el footer esté en la parte superior */
}
