<div class="routines-container">
  <div class="routines-title">
    <h2>{{ translationService.getTranslation("routines") }}</h2>
  </div>
  <div *ngFor="let routine of routines" class="routine-card">
    <div class="title-container">
      <h3 class="routine-name">{{ routine.name }}</h3>
      <button class="sumbit-button" (click)="restartRoutine(routine._id)">
        {{ translationService.getTranslation("restartRoutine") }}
      </button>
      <button class="delete-button" (click)="deleteRoutine(routine._id)">
        {{ translationService.getTranslation("deleteRoutine") }}
      </button>
    </div>
    <div class="series">
      <div
        *ngFor="let serie of routine.series"
        class="serie"
        [class.completed]="serie.completed"
      >
        <div class="serie-header">
          <div class="d-flex">
            <label class="font-bold"
              >{{ translationService.getTranslation("rounds") }}:</label
            >
            <div class="margin-sizes">
              {{ serie.repetitions }}
            </div>
          </div>

          <div class="completed-class d-flex">
            <label class="font-bold"
              >{{ translationService.getTranslation("completed") }}:</label
            >
            <input
              type="checkbox"
              [(ngModel)]="serie.completed"
              (change)="updateCompletedStatus(serie)"
            />
          </div>
        </div>

        <ul class="exercise-list">
          <li *ngFor="let exercise of serie.exercises" class="exercise">
            <hr />
            <p>{{ exercise.name }}</p>
            <p>{{ exercise.description }}</p>
            <div class="repetitions-class">
              <div class="d-flex">
                <label class="font-bold"
                  >{{
                    translationService.getTranslation("repetitions")
                  }}:</label
                >
                <div class="margin-sizes">
                  {{ exercise.repetitions }}
                </div>
              </div>

              <div class="d-flex">
                <label class="font-bold"
                  >{{ translationService.getTranslation("eachOne") }}:</label
                >
                <div class="margin-sizes">
                  {{ exercise.eachOne ? "Yes" : "No" }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="edit-button-class">
      <button class="edit-button" (click)="openEditDialog(routine)">
        {{ translationService.getTranslation("editRoutine") }}
      </button>
    </div>
  </div>
</div>
