<div class="dialog-container">
  <div class="information-container">
    <h3>Edit Routine</h3>

    <form>
      <div class="routine-content">
        <div class="form-group">
          <label class="font-bold"
            >{{ translationService.getTranslation("name") }}:</label
          >
          <input
            type="text"
            id="routineName"
            name="routineName"
            [(ngModel)]="routine.name"
            class="margin-sizes"
          />
        </div>

        <div *ngFor="let serie of routine.series; let i = index" class="serie">
          <div class="serie-header">
            <h3>{{ translationService.getTranslation("serie") }}</h3>
            <div class="rounds-class">
              <label for="repetitions{{ i }}" class="font-bold"
                >{{ translationService.getTranslation("rounds") }}:</label
              >
              <input
                type="number"
                id="repetitions{{ i }}"
                name="repetitions{{ i }}"
                [(ngModel)]="serie.repetitions"
              />
            </div>
          </div>

          <div
            *ngFor="let exercise of serie.exercises; let j = index"
            class="exercise-form"
          >
            <hr />
            <div class="form-group">
              <label class="font-bold" for="name{{ i }}{{ j }}"
                >{{ translationService.getTranslation("exerciseName") }}:</label
              >
              <input
                type="text"
                id="exerciseName{{ i }}{{ j }}"
                name="exerciseName{{ i }}{{ j }}"
                [(ngModel)]="exercise.name"
              />
            </div>
            <div class="form-group description-class">
              <label class="font-bold" for="exerciseDescription{{ i }}{{ j }}"
                >Description:</label
              >
              <textarea
                id="exerciseDescription{{ i }}{{ j }}"
                name="exerciseDescription{{ i }}{{ j }}"
                [(ngModel)]="exercise.description"
              ></textarea>
            </div>
            <div class="d-flex">
              <div class="form-group">
                <label class="font-bold" for="exerciseRepetitions{{ i }}{{ j }}"
                  >{{
                    translationService.getTranslation("repetitions")
                  }}:</label
                >
                <input
                  type="number"
                  id="exerciseRepetitions{{ i }}{{ j }}"
                  name="exerciseRepetitions{{ i }}{{ j }}"
                  [(ngModel)]="exercise.repetitions"
                />
              </div>
              <div class="form-group">
                <label for="exerciseEachOne{{ i }}{{ j }}">Each One</label>
                <input
                  type="checkbox"
                  id="exerciseEachOne{{ i }}{{ j }}"
                  name="exerciseEachOne{{ i }}{{ j }}"
                  [(ngModel)]="exercise.eachOne"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-buttons">
        <button type="button" (click)="saveRoutine()">Save</button>
        <button type="button" (click)="discardChanges()">Discard</button>
      </div>
    </form>
  </div>
</div>
