/* You can add global styles to this file, and also import other style files */
/* src/styles.css o src/styles.scss */

:root {
  --dark-blue: rgb(21 56 107);
  --light-blue: #7fa8f6;
  --white: white;
  --darkest-blue: rgb(0 21 50);
  --orange: #ff5800;
  --light-orange: #ffc5a6b3;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #acacac;
}

button {
  margin: 10px;
}

.delete-button {
  background-color: #da4242;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cc0000;
}

.edit-button {
  background-color: #1a811d;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #136416;
}

.add-button {
  background-color: #0072be;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #005b97;
}

.sumbit-button {
  background-color: #6894e8;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.sumbit-button:hover {
  background-color: #466bb0;
}

h2 {
  border-bottom: 2px solid #303030;
  color: white;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* Estilo para el Snackbar de éxito */
.custom-success-snackbar {
  background-color: green; /* Cambia el fondo al color deseado */
  color: white; /* Cambia el color del texto al deseado */
}

/* Estilo para el Snackbar de error */
.custom-error-snackbar {
  background-color: red; /* Cambia el fondo al color deseado */
  color: white; /* Cambia el color del texto al deseado */
}
