/* You can add global styles to this file, and also import other style files */
/* src/styles.css o src/styles.scss */

:root {
  --dark-blue: rgb(21 56 107);
  --light-blue: #7fa8f6;
  --white: white;
  --darkest-blue: rgb(0 21 50);
  --orange: #ff5800;
  --light-orange: #ffc5a6b3;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #acacac;
}

button {
  margin: 10px;
}

.delete-button {
  background-color: #da4242;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cc0000;
}

.edit-button {
  background-color: #1a811d;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #136416;
}

.add-button {
  background-color: #0072be;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #005b97;
}

.sumbit-button {
  background-color: #6894e8;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.sumbit-button:hover {
  background-color: #466bb0;
}

h2 {
  border-bottom: 2px solid #303030;
  color: white;
}

.custom-success-snackbar {
  background-color: green;
  color: white;
}

.custom-error-snackbar {
  background-color: red;
  color: white;
}

hr {
  color: #333;
  border: none;
  background-color: #c1c1c1;
  height: 1px;
  margin: 15px 0;
}

.font-bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
  align-items: center;
}

.margin-sizes {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}

input[type="number"] {
  width: 40px;
}

textarea {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto centra el spinner verticalmente en la página completa */
}
